services:
  web:
    build:
      context: .
      target: development
    volumes:
      - .:/lex_flow
      - bundle_data:/usr/local/bundle
    ports:
      - "3000:3000"
    depends_on:
      - db
    tty: true
    stdin_open: true
    environment:
      TZ: Asia/Tokyo
      RAILS_ENV: development
      BUNDLE_DEPLOYMENT: "false"
      BUNDLE_WITHOUT: ""
    command: ["bin/dev"]

  db:
    image: postgres:17
    environment:
      POSTGRES_PASSWORD: password
      TZ: Asia/Tokyo
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
  bundle_data: